<div class="container-fluid"> 

  <div class="panel panel-primary">
   <div class="panel-heading">Buscar productos</div>
    <div class="panel-body">
      No. identificacion: <input type="text" name="identificacion" placeholder="No. identificacion">
      Descripcion: <input type="text" name="descripcion" placeholder="Descripcion">

      <button class="btn right" style="margin-left: 4px;">Limpiar</button>
      <button type="button" class="btn btn-success">Buscar Producto</button>
    </div>
  </div>

 <div class="panel panel-primary">
  <div class="panel-heading">Productos</div>
  <div class="panel-body">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target=".newProduct">Nuevo producto</button> <p>
      <div class="modal fade newProduct" tabindex="-1" role="dialog" aria-labelledby="newProductLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <div class="modal-header">

                  <h5 class="modal-title" id="newProductLabel">Nuevo producto</h5>
              </div>
            
            <div class="modal-body">
                <form #productoForm="ngForm" (ngSubmit)="addProducto
                  (productoForm)"> 
                    <input type="hidden" name="idNueProducto" #_idNueProducto="ngModel" [(ngModel)]="productoService.selectedProducto.idNueProducto">
                    <div class="form-horizontal">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="MainContent_text_reg_nombre" class="col-sm-4 control-label">*Descripcion de producto o</label>
                                <div class="col-sm-8">
                                    <input name="desProducto" #name="ngModel" [(ngModel)]="productoService.selectedProducto.desProducto" 
                                    class="form-control" type="text" placeholder="Buscar producto ó servicio">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="MainContent_text_reg_telefono" class="col-sm-4 control-label">Servicio:</label>
                                <div class="col-sm-8">
                                    <textarea name="servicio" #name="ngModel" [(ngModel)]="productoService.selectedProducto.servicio" 
                                    class="form-control" type="text" placeholder="Descripcion sobre la clave del producto"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="MainContent_text_reg_email" class="col-sm-4 control-label">*Descripción:</label>
                                <div class="col-sm-8">
                                    <textarea name="descripcion" #name="ngModel" [(ngModel)]="productoService.selectedProducto.descripcion" 
                                    class="form-control" type="text" placeholder="Descripción"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="MainContent_text_reg_web" class="col-sm-4 control-label">*No. identificacion:</label>
                                <div class="col-sm-8">
                                    <input name="noIdentificacionP" #name="ngModel" [(ngModel)]="productoService.selectedProducto.noIdentificacionP" 
                                    class="form-control" type="text" placeholder="No. identificación">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="MainContent_text_reg_direccion" class="col-sm-4 control-label">Descripcion unidad:</label>
                                <div class="col-sm-8">
                                    <input name="desUnidad" #name="ngModel" [(ngModel)]="productoService.selectedProducto.desUnidad" 
                                    class="form-control" type="text" placeholder="Buscar unidad">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="MainContent_text_reg_localidad" class="col-sm-4 control-label"></label>
                                <div class="col-sm-8">
                                    <textarea name="dClavUnidad" #name="ngModel" [(ngModel)]="productoService.selectedProducto.dClavUnidad" 
                                    class="form-control" type="text" placeholder="Descripcion sobre la clave de la unidad"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="MainContent_text_reg_provincia" class="col-sm-4 control-label">*Valor unitario:</label>
                                <div class="col-sm-8">
                                    <input name="valUnitario" #name="ngModel" [(ngModel)]="productoService.selectedProducto.valUnitario" 
                                    class="form-control" type="text" placeholder="0.00">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="MainContent_text_reg_cp" class="col-sm-4 control-label">Unidad</label>
                                <div class="col-sm-8">
                                    <input name="unidad" #name="ngModel" [(ngModel)]="productoService.selectedProducto.unidad" 
                                    class="form-control" type="text" placeholder="Unidad">
                                </div>
                            </div>
                        </div>
                  <div class="modal-footer">
                    <div class="card-action">
                        <button type="button" class="btn right" (click)="resetForm(productoForm)">Limpiar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-success" (click)="addProducto(productoForm)">Agregar</button>
                    </div>
                  </div>
                </div>
            </form>
            </div> 
        </div>
      </div>
      </div>


      <div class="table table-resposive">
            <table id="tabla1" border="1" class="rwd-table">
                <thead>
                 <tr>
                  <th scope="col">Clave, servicio o prod</th>
                  <th scope="col">No. identificacion</th>
                  <th scope="col">Clave unidad</th>
                  <th scope="col">Unidad</th>
                  <th scope="col">Descripcion</th>
                  <th scope="col">Valor unitario</th>
                  <th scope="col">T/E/E</th>
                 </tr>
                </thead>
                <tbody>
                 <tr *ngFor="let producto of productoService.productos">
                  <td data-label="Clave, servicio o prod">{{ producto.servicio }}</td>
                  <td data-label="No. indetificacion">{{ producto.noIdentificacionP }}</td>
                  <td data-label="Clave unidad">{{ producto.dClavUnidad }}</td>
                  <td data-label="Unidad">{{ producto.unidad }}</td>
                  <td data-label="Descripcion">{{ producto.descripcion }}</td>
                  <td data-label="Valor unitario">{{ producto.valUnitario }}</td>
                  <td data-label="T, E, E">
                    <a>
                      <i class="far fa-clock" style="font-size: 15px;"></i>  
                    </a>
                    <a (click)="updateProduct" data-toggle="modal" data-target=".updateProduct">  
                      <i class="fas fa-pencil-alt" style="font-size: 15px;"></i> 
                    </a>
                    <a (click)="deleteProducto(producto.idNueProducto)">
                      <i class="fas fa-trash-alt" style="font-size: 15px;"></i>
                    </a>  
                  </td>
                 </tr>
                </tbody> <p></p>
                
                <i data-toggle="modal" data-target=".updateProduct"></i> 
                 <div class="modal fade updateProduct" tabindex="-1" role="dialog" aria-labelledby="updateProductLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <div class="modal-header">

                  <h5 class="modal-title" id="updateProduct">Nuevo producto</h5>
              </div>
            
            <div class="modal-body">
                <form class="form-inline col-lg-12 " role="form-horizontal">
                 <input type="hidden" name="idNueProducto" #_idNueProducto="ngModel" [(ngModel)]="productoService.selectedProducto.idNueProducto">
                <div class="col-md-12 col-lg-12">

                  <div class="row">

                     <div class="col-lg-6 form-group">       
                         <div class="col-lg-5">
                             <font size="2">Descripción de producto o</font>
                         </div>
                         <div class="col-lg-7">
                             <input name="desProducto" #name="ngModel" [(ngModel)]="productoService.selectedProducto.desProducto"
                             type="text" class="form-control" placeholder="Buscar producto ó servicio">
                         </div>                    
                     </div>

                     <div class="col-lg-6 form-group">   
                         <div class="col-lg-5">
                             <font size="2">Descripcion unidad:</font>    
                         </div>
                         <div class="col-lg-7">
                             <input name="desUnidad" #name="ngModel" [(ngModel)]="productoService.selectedProducto.desUnidad"
                              type="text" class="form-control" placeholder="Buscar unidad">
                         </div>    
                     </div>

                  </div>


                  <div class="row">

                     <div class="col-lg-6 form-group">
                         <div class="col-lg-5">
                             <font size="2">Servicio:</font>
                         </div>
                         <div class="col-lg-7">
                             <input name="servicio" #name="ngModel" [(ngModel)]="productoService.selectedProducto.servicio"
                              type="text" class="form-control" placeholder="Descripcion sobre la clave del producto">
                         </div>    
                     </div>

                     <div class="col-lg-6 form-group">
                         <div class="col-lg-5">
                             <font size="2"></font>   
                         </div>
                         <div class="col-lg-7">
                             <input name="dClavUnidad" #name="ngModel" [(ngModel)]="productoService.selectedProducto.dClavUnidad"
                              type="text" class="form-control" placeholder="Descripción sobre la clave de la unidad">
                         </div>     
                     </div>

                  </div>


                  <div class="row" >

                     <div class="col-lg-6 form-group">
                         <div class="col-lg-5">
                             <font size="2">*Descripción:</font>
                         </div>
                         <div class="col-lg-7">
                             <input name="descripcion" #name="ngModel" [(ngModel)]="productoService.selectedProducto.descripcion"
                              type="text" class="form-control" placeholder="Descripción">
                         </div>
                     </div>

                     <div class="col-lg-6 form-group">
                         <div class="col-lg-5">
                             <font size="2">*Valor unitario:</font>   
                         </div>
                         <div class="col-lg-7">
                             <input name="valUnitario" #name="ngModel" [(ngModel)]="productoService.selectedProducto.valUnitario"
                              type="text" class="form-control" placeholder="0">
                         </div>
                     </div>

                  </div>


                  <div class="row">
 
                     <div class="col-lg-6 form-group">
                         <div class="col-lg-5">
                             <font size="2">*No identificacion:</font>
                         </div>
                         <div class="col-lg-7">
                             <input name="noIdentificacionP" #name="ngModel" [(ngModel)]="productoService.selectedProducto.noIdentificacionP"
                              type="text" class="form-control" placeholder="0">
                         </div>
                     </div>

                     <div class="col-lg-6 form-group">
                         <div class="col-lg-5">
                             <font size="1">Unidad</font>   
                         </div>
                         <div class="col-lg-7">
                             <input name="unidad" #name="ngModel" [(ngModel)]="productoService.selectedProducto.unidad"
                              type="text" class="form-control" placeholder="Unidad">
                         </div>
                     </div>

                  </div>
                  <div class="modal-footer">  
                    <button type="button" class="btn btn-success" (click)="addProducto(productoForm)">Actualizar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  </div>


                </div>
             </form>
            </div> 
        </div>
      </div>
      </div>

            </table>
     </div>

    <div class="form-horizontal">
        <div class="col-sm-8">
            <div class="form-group">
                <label>Pagina 1 de 384, 7664 registros</label>
            </div>
        </div>
        <div class="col-sm-4 right">
            <div class="form-group">
                <button id="boton" class="btn btn-default btn-circle"><i class="glyphicon glyphicon-backward" ></i></button>
                <button id="boton" class="btn btn-default btn-circle"><i class="glyphicon glyphicon-triangle-left"></i></button>
                <button id="boton" class="btn btn-default btn-circle"><i class="glyphicon glyphicon-triangle-right"></i></button>
                <button id="boton" class="btn btn-default btn-circle"><i class="glyphicon glyphicon-forward"></i></button>
                <p></p>
                <br>
                <br>
                <button id="boton" type="button" class="btn btn-success">Exportar producto</button> <p>
            </div>
        </div>
    </div>

</div>
</div>


     <div class="panel panel-primary">
        <div class="panel-heading">Administración de productos</div>
            <div class="panel-body">
                <div class="checkbox">
                    <label><input type="checkbox" value="">Importar productos</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">Eliminar catálogo de productos</label>
                </div>
            </div>
     </div>
      
</div> 